
/* section{
    min-height: 200px;
} */


/* background color */
.bg-nero-scuro{
    background-color: #2c3e50;
}

.bg-nero-meno-scuro{
    background-color: #3a546d;
}

.bg-verdeacqua{
    background-color: #1abc9c;
}

/* text color */
.text-color-w{
    color: white;
}

/* colori testo <a> navbar */
nav a{
    color: white;
}

.my-img-container{
    max-width: 200px;
}

/* .box{
    min-height: 50px;
    background-color: tomato;
} */

.marg-tb{
    margin: 15px;
}

.form-control{
    border-top: none;
    border-right: none;
    border-left: none;
    box-shadow: none;
    border-radius: 0;
}


